extends ../layout
include ./mixins/_table

block content
  .content
    .container-fluid
      .row
        .col-md-12
          a.btn.btn-fill.btn-info(href='/admin/portfolio/add')
            i.fa.fa-plus
            | Добавить запись
          +table(portfolios)