include mixins/layoutPartions/_header
include mixins/layoutPartions/_footer
include mixins/components/_bannerInner
block userHead
    title= "Terms of Sale"
+header()
+bannerInner('Terms Of Sale', false)
.terms
    .container 
        .terms__content 
            h3 Article 1: Object
            p These general terms of sale determine the rights and obligations of the parties in an online sale of products and services offered by the seller."
        .terms__content 
            h3 Article 1: Object
            p These general terms of sale determine the rights and obligations of the parties in an online sale of products and services offered by the seller."
        .terms__content 
            h3 Article 1: Object
            p Les présentes conditions générales de vente (CGV) s'appliquent à toutes les ventes de produits ou de services réalisées via le site Internet de la Société et font partie intégrante du contrat entre l'acheteur et le vendeur. Le Vendeur se réserve le droit de modifier ces conditions à tout moment en publiant une nouvelle version sur son site Internet. Ainsi, les CGV applicables sont valables au jour du paiement (ou du premier paiement en cas de paiements multiples) de la commande. Les présentes conditions générales sont consultables sur le site Internet de la Société à l'adresse suivante : https / l. De plus, la société garantit que leur reçu est claim et non enregistré au moment de l'achat. Le client déclare avoir pris connaissance de l'intégralité des présentes conditions générales de vente, et le cas échéant, des conditions particulières de vente liées au produit ou au service, et les accepte sans limitation ni réserve. Le client confirme avoir reçu les conseils et informations nécessaires pour que l'offre réponde à ses besoins. Le client déclare qu'il peut légalement appeler en vertu de la loi française ou représenter légalement la personne physique ou morale dont il est responsable. Sauf preuve contraire, les informations enregistrées par la Société constituent la preuve de l'ensemble des transactions.: //.com/l"
        .terms__content 
            h3 Article 1: Object
            p These general terms of sale determine the rights and obligations of the parties in an online sale of products and services offered by the seller."
        .terms__content 
            h3 Article 1: Object
            p These general terms of sale determine the rights and obligations of the parties in an online sale of products and services offered by the seller."
        .terms__content 
            h3 Article 1: Object
            p These general terms of sale determine the rights and obligations of the parties in an online sale of products and services offered by the seller."
+footer()