mixin error()
  .container
    .row
      .col-md-12
        p.text-danger(style="font-size: 24px")
          | Вы используете хостинг в тестовом режиме. 
          br
          | Хостинг активен включительно до - 23.05.2020 14:00