extends ../layout
include ./mixins/_table
//- include ./mixins/_filter

block content
  .content
    .container-fluid
      .row
        .col-md-12
          a.btn.btn-fill.btn-info(href='/admin/review/add')
            i.fa.fa-plus
            | Добавить отзыв
          //- +filter(categories)
          +table(reviews)